{% if form and form.errors %}
  <section class="mui-form-error-summary" role="alert" aria-live="assertive" aria-atomic="true" aria-labelledby="mui-form-error-summary-title">
    <h2 id="mui-form-error-summary-title">Please correct the following errors:</h2>
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
      {% for field in form.visible_fields %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for field in form.hidden_fields %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </section>
{% endif %}
